DB_URI=mongodb://localhost:27017/your-database
PORT=8101
JWT_SECRET=your_secret_key
SLACK_ERROR_WEBHOOK=
INITIAL_ADMIN_EMAIL=dreyes@bakano.ec
INITIAL_ADMIN_PASSWORD=change-this-initial-admin-password
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
